*{
    font-family: sans-serif;
}

#deckrBody{
    background-image: url("./felt-tile.png");
    align-items: center;
}
#root{
    width: 33.3%;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    border-radius: 20px;
}
.logo {
    text-shadow: 3px 3px 5px #070707;
    font-size: 75px;
    color: whitesmoke;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 15%;
}

button{
    box-shadow: 3px 3px 5px #070707;
    background-color: rgb(49, 9, 9);
    display:block;
    color: whitesmoke;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 20px;
    text-decoration: none;
    position: relative;
    line-height: 0.1;
    margin-left: auto;
    margin-right: auto;
}
#newRoom{
    font-size: 25px;
}
#logInButton{
    font-size: 20px;
    margin-top: 20%;
}
form{
    margin: 25%;
}
label{
    height: 40px;
    text-shadow: 3px 3px 5px #070707;
    text-align: center;
    text-shadow: 2px 2px #070707;
    display:block;
    position:relative;
    color: whitesmoke;
    font-size: 30px;

}
input{
    padding:5px;
    font-size: 18px;
    color:whitesmoke;
    text-align: center;
    box-shadow: 3px 3px 5px #070707;
    display:block;
    position:relative;
    background: transparent;
    border-radius: 8px;
    border-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
input:focus {
    outline-width: 0;
}
#game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#bank{
    width:800px;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}
#dealButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    color: white;
    font-size: 1rem;
    height: 50px;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
#dealButton:hover {
    color:black;
    background-color: white;
    cursor: pointer;
}
.chipImg {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#chip1 {
    background: url('chipSpriteSheet.png');
}
#chip5 {
    background: url('chipSpriteSheet.png') left 100px top 0px;
}
#chip25 {
    background: url('chipSpriteSheet.png') left 50px top 0px;
}
#chip50 {
    background: url('chipSpriteSheet.png') left 0px top 50px;
}
#chip100 {
    background: url('chipSpriteSheet.png') left 100px top 50px;
}
#chip500 {
    background: url('chipSpriteSheet.png') left 50px top 50px;
}
.greyOut {
    opacity: 0.4;
}
#chipCount {
    display: flex;
    align-items: center;
    justify-content: center;
    border: yellow 1px solid;
    color: yellow;
    font-size: 1rem;
    height: 50px;
    width: 75px;
    border-radius: 5px;
}
#chipCollect {
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    color: white;
    font-size: 1rem;
    height: 50px;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
#chipCollect:hover {
    color:black;
    background-color: white;
    cursor: pointer;
}
#cardCollect {
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    color: white;
    font-size: 1rem;
    height: 50px;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
#cardCollect:hover {
    color:black;
    background-color: white;
    cursor: pointer;
}

.rightDiv {
    position: absolute;
    left: calc(50% + 430px);
    bottom: 100px;
}
.topDiv {
    position: absolute;
    left: calc(50% + 430px);
    top: 0px;
}
.leftDiv {
    position: absolute;
    left: calc(50% - 670px);
    top: 0px;
}
.videoStream {
    width: 240px;
    height: 180px;
    border-radius: 5px;
    border: solid 2px;
}
.playerColor1 {
    border-color: #ff1100;
}
.playerColor2 {
    border-color: #0400ff;
}
.playerColor3 {
    border-color: #ff9d00;
}
.playerColor4 {
    border-color: #9500ff;
}
#myVideoContainer{
    position: absolute;
    left: calc(50% - 670px);
    bottom: 100px;
}
.videoContainer {
    font-size: 20px;
    color: whitesmoke;
}
#boardLogo {
    position: absolute;
    left: calc(50% + 450px);
    top: 40%;
    text-shadow: 3px 3px 5px #070707;
    font-size: 55px;
    color: whitesmoke;
}
#tableNumber {
    position: absolute;
    left: calc(50% - 665px);
    top: 40%;
    text-shadow: 3px 3px 5px #070707;
    font-size: 55px;
    color: whitesmoke;
}
